* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #f2f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor {
    width: 80%;
    max-width: 700px;
    height: 500px;
    background: #212d40;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /*Acomoda a las cajas*/
    /*flex-flow: row wrap; Igual a las dos lineas de arriba*/
    justify-content: space-between; /*space-betewn space center*/
    align-items: center; /*Centrar verticalmente*/
   /*align-content: flex-start;*/

}

.caja{
    width: 100px;
   height: 100px;
    background: #f79256;
    text-align: center;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    color: #fff;
    /*order: 1;*/
    flex-grow: 1;
    align-content: center;
    flex: 1 1 auto; /* Proporcion de 1 para Crecer , Disminuir en 1 y un tamaño auto*/
}

.uno{
    order: 1;
}

.dos{
    flex-shrink: 0;/*No se hace mas pequeño que el width*/
    /*flex-basis: 200px; /*width 200px*/
    flex-grow: 2;
    align-self: stretch;
    height: auto;
    width: 200px;
    order: 2;
}

.tres{
    order: 3 ;
}