.caja{
    width: 200px;
    height: 200px;
    background: #21295c;
    transition: all 300ms linear;
    /*transition-delay: 300ms;*/
}
/*Velocidad de curva
    ease - Inicio lento, despues rapido y termina lento
    linaer - misma velocidad de inicio a fin
    ease-in - inicio lento
    ease-out - final lento
    ease-in-out - inicio lento y final lento
*/
.caja:hover{
    background: #9eb3c2;
    width: 400px;
   /* transform: rotate(180deg);*/
}