<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layout</title>
    <link rel="stylesheet"  href="css/estilos.css">
</head>
<body>
    <div class="contenedor">
        <header>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contactos</a></li>
                </ul>
            </nav>
        </header>
        <section class="main">
            <div class="imagen">
                <img src="img/Jellyfish.jpg" alt="">
            </div>
            <section class="posts">
                <article>
                    <h2>Titulo del articulo</h2>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, voluptatibus in! In doloribus rem, nemo vero illum necessitatibus error, quidem eum eligendi possimus deserunt assumenda aspernatur qui ipsam perspiciatis temporibus!
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab, voluptatibus in! In doloribus rem, nemo vero illum necessitatibus error, quidem eum eligendi possimus deserunt assumenda aspernatur qui ipsam perspiciatis temporibus!
                    </p>
                </article>
            </section>
        </section>

        <aside>
            <div class="widget">
                <h3 class="titulo">Articulos destacados</h3>
                <ul>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                    <li><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. </a></li>
                </ul>
            </div>
            <div class="widget">
                <h3 class="titulo">Informacion</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste, hic reprehenderit! Asperiores cupiditate, saepe amet totam ad sed ducimus doloremque veritatis mollitia! Ipsam fugiat, repudiandae eligendi corrupti quaerat porro facere.</p>
            </div>
        </aside>

        <footer>
            <p>Footer Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit suscipit, a debitis consequatur non veniam temporibus eligendi, neque cumque dolor est esse ipsa eius culpa odio labore, eaque repellendus! Modi?</p>
        </footer>
    </div>
</body>
</html>